<!-- Views/Account/Transaction.cshtml -->
@{
    ViewData["Title"] = "Transaction";
}

<h2>Transaction</h2>

<div>
    <h3>Transfer Money:</h3>
    <p>Add Transfer Money Form Here</p>
</div>

<div>
    <h3>Transaction History:</h3>
    <p>Add Transaction History Table Here</p>
</div>
